<!DOCTYPE html>
<html>
  <head>
    <title>Gomudbud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to "Rooms", rooms_path %>
    |
    <%= link_to "Exits", exits_path %>
    |
    <%= link_to "NPCs", npcs_path %>
    |
    <%= link_to "Behaviors", behaviors_path %>
    |
    <%= link_to "Cmb Behaviors", combat_behaviors_path %>
    <hr>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
